.container{
	width: 1920px;
	height: 1080px;
	background: url(../images/2.jpg);
	display: flex;
	position: relative;
}

.left{
	width: 960px;
	height: 1080px;
	background-color: #fff;
}

.right{
	width: 960px;
	height: 1080px;
	display: flex;
	position: relative;
}

.images-right{
	z-index: 2;
	position: absolute;
	width: 527px;
	height: 946px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 67px 67px 241px 192px;
}

.Word-Left-1 {
	margin: 340px 0px 0px 106px;
	font-family: Arial, sans-serif;
	font-size: 136px;
}
.Word-Content{
	color: black;	
	font-family: Arial, sans-serif;
	width: 197px;
	height: 335px;
	margin: 0px 118px 0px 720px;
	font-size: 14px;
}

.logo{
	width: 1800px;
	height: 973px;
	margin: 47px 0px 0px 60px;
	z-index: 1;
	position: absolute;
}

.logo-hr{
	width: 70px;
	display: inline-block;
	border: 0.5px solid black;
}
.previous{
	display: inline-block;
	font-size: 24px;
	text-decoration: underline;
}
.gumi{
	display: inline-block;
	font-size: 24px;
	margin: 0px 0px 0px 675px;
}
.next{
	display: inline-block;
	font-size: 24px;
	text-decoration: underline;
	margin: 0px 0px 0px 714px;
}
.logo-hr-1{
	width: 72px;
	color: black;
	display: inline-block;
	border: 0.5px solid black;
}

.img-logo{
	margin: 51px 0px 0px 811px;
}
.button {
  background-color: #fff;
  border: none;
  color: black;
  text-align: center;
  text-decoration: underline;
  font-size: 24px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.outer {
  position: relative;
  display: inline-block;
  margin: 90px 0px 0px 0px;
  font-size: 12px;
}
.rotate {
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.outer1 {
  position: relative;
  display: inline-block;
  margin: 43px 0px 0px 0px;
  font-size: 12px;
}

.date{
	display: inline-block;
	margin: 220px 0px 0px 60px;
}
.hr-1{
	width: 270px;
	color: black;
	display: inline-block;
	margin: 0px 8px 0px 5px;

}
.author{
	display: inline-block;
}
.coll{
	display: inline-block;
	margin:  0px 0px 0px 135px;
	font-size: 24px;
}
.see{
	display: inline-block;
	margin: 0px 0px 0px 115px;
	font-size: 24px;
}
.hr-content{
	width: 270px;
	margin: 390px 0px 0px 660px;
}
.hr{
	border: 0.5px solid black;
}
.word-right{
	margin: 340px 0px 0px 870px;
	
}

.nb01{
	font-size: 48px;
	margin: 0px 0px 205px 0px;
}
.nb{
	font-size: 14px;
	margin: 40px 1000px 0px 0px;
}